/practicajava1/nbproject/private/
/practicajava1/build/
/lab/nbproject/private/
/lab/build/
/SeguraDiazJoseph/nbproject/private/
/JosephSeguraSistemaDeAutomoviles/nbproject/private/
/JosephSeguraSistemaDeAutomoviles/build/
/Semana%/nbproject/private/
/semana5/nbproject/private/
/semana5/build/
