/practicajava1/nbproject/private/
/practicajava1/build/
/lab/nbproject/private/
/lab/build/
/SeguraDiazJoseph/nbproject/private/
/JosephSeguraSistemaDeAutomoviles/nbproject/private/
/JosephSeguraSistemaDeAutomoviles/build/
/Semana%/nbproject/private/
/semana5/nbproject/private/
/semana5/build/
/JavaApplication16/nbproject/private/
/semana6/nbproject/private/
/semana7/nbproject/private/
/semana8/nbproject/private/
/semana8/build/
/Primer examen/nbproject/private/
/Primer examen/build/
/semana 9/nbproject/private/
/semana 9/build/
/semana8-19/nbproject/private/
/semana8-19/build/
/semana8-2/nbproject/private/
/semana8-2/build/
/proyectocalculadora/nbproject/private/
/proyectocalculadora/build/
/adelanto/nbproject/private/
/adelanto/build/
/semana02-04/nbproject/private/
/prueba/nbproject/private/
/semana13/nbproject/private/
/adelanto_res/nbproject/private/
/adelanto_res/build/
/Javaproyectogit/nbproject/private/
